---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('September 20 2025')}
	heroImage="/aboutme.jpg"
>
	<p>
		Hi! I'm Bridger Schaffer From Sherwood, Oregon. <br>
		I am currently a Freshman at Embry Riddle Aeronautical University, in Prescott, Arizona. 
		I am majoring in Aeronautical Science, with a long-term goal to become a professional pilot.
		Since the summer of 2024, I discovered my passion for aviation and flying, and since then, 
		I have gotten my Private Pilot's License, and I am working on my Instrument License. 
	</p>

	<p>
		Outside of my education, I have always loved the outdoors. Growing up in oregon, 
		I grew a passion for skiing, mountain biking, and hiking. Over the years, I competed with 
		the Southwest Mountain Ski Team. I have visited many national parks including Yosemite, where I 
		summitted Half Dome with some of my family. I completed an adventure race with my dad. And there 
		is so much more, but this isn't the time or place. 
	</p>

</Layout>
